.site-oliva{
  display: grid;

  grid-template-areas: 
  "header header"
  "nav nav";

  grid-template-rows: 60px 85px 1fr;
  grid-template-columns: 1fr 9 fr;
}

.header{
  grid-area: header;
  background-color: #FEFFFB;
  justify-content: space-around; 
}

.nav{
  grid-area: nav;
  background-color: #FEFFFB;
  justify-content: space-around; 
  padding: 10px; 

}
.nav a{
  color: #3D4233; /* Цвет текста */
  text-decoration: none; /* Убираем подчеркивание ссылок */
  font-family: PT Sans, sans-serif; /* Семейство шрифтов */
  font-size: 16px; /* Размер шрифта */
  padding: 10px 20px; /* Отступы вокруг текста ссылки */
  border-radius: 5px; /* Скругление углов */
}
